#tabla {
    width: 620px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

#tabla div{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 80, 184);
    color: red;
    text-align: center;
    font-size: large;
}

#tabla div:hover {
    background-color: rgb(19, 94, 255);
}


body {
    margin: 0;
    background-color: rgb(100, 100, 100);
}