body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 121, 121);
}

#tabla {
    width: 620px;
    height: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#tabla div {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 253, 148);
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 180px;
    font-family: 'Microsoft Sans Serif';
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
}

#tabla div:hover {
    background-color: rgb(181, 255, 7);
    color: rgb(3, 48, 40);
}